.section {
  display: flex;
  flex-direction: column;
  background-color: #41403ee9;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 5px;
  border-radius: 5%;
  box-shadow: 0 0 20px rgba(244, 243, 243, 0.1);
  contain: content;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Adjust these styles as needed */

  /* Set a fixed height for the section to enable scrolling */
  height: max-content; /* Adjust the height as needed */
  overflow: auto; /* Add scrollbars when content overflows */

  .scrollableContent {
    /* Add some padding to create separation between items and scrollbar */
    padding-right: 20px; /* Adjust as needed */
  }
  .inputDiv {
    margin-right: 5px;
    .label {
      color: antiquewhite;
      .input {
        background-color: antiquewhite;
        margin: 10px;
        border-radius: 5px;
        border-style: solid;
        border-color: rgb(0, 0, 0);
      }
    }
    .button {
      border: 1px solid;
      cursor: pointer;
      background-color: white;
      color: rgb(0, 31, 57);
      border-radius: 5px;
      margin-left: 10px;
      float: left;

      &:hover {
        background-color: rgb(0, 31, 57);
        color: white;
      }
    }
  }
}
