.heroArea {
  height: 75dvh;
  width: 100dvw;
  position: relative;
  background-image: url('../../public/images/suitcases.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    font-family: 'American Typewriter', monospace;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.751);
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 20);
    background-color: rgba(250, 235, 215, 0.905);

    .h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .h2 {
      font-size: 18px;
      margin: 0 auto;
      max-width: 800px;
    }
  }
}
