* body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #04061f;
  text-align: left;
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #04061f;
  text-decoration: none;
}

h2 {
  font-family: 'Poppins', sans-serifs;
  font-weight: 500;
  font-size: 1.875em;
  color: #04061f;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  margin: 20px 0;
  color: #04061f;
}

p {
  font-size: 0.875em;
  line-height: 1.285;
  color: #04061f;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

.address,
.contact {
  font-style: normal;
  color: #04061f;
}

.contentWrapper {
  width: 100%;
  margin: 50px 0;
}
