.header {
  background-color: #e9e3e3bf;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 12px;

  .contentWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 65%;
    .nav {
      font-family: 'American Typewriter', monospace;
      font-size: 1.5rem;
      color: #41403e;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      max-width: 1000px;
      gap: 40px;
      .figure {
        display: flex;
        justify-content: left;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
      }
      .ul {
        text-decoration: underline;
        list-style: none;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 20px;
        flex: 1;

        .li {
          display: flex;
          padding: 32px 0;
          font-weight: 500;
          width: 100%;
        }
      }

      .headerButtonsContainer {
        display: flex;
        align-items: center;
        gap: 12px;

        .button {
          align-self: center;
          background-color: #fff;
          background-image: none;
          background-position: 0 90%;
          background-repeat: repeat no-repeat;
          background-size: 4px 3px;
          border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
          border-style: solid;
          border-width: 2px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-sizing: border-box;
          color: #41403e;
          cursor: pointer;
          display: inline-block;
          font-family: Neucha, sans-serif;
          font-size: 0.75rem;
          line-height: 23px;
          outline: none;
          padding: 0.5rem;
          text-decoration: none;
          transition: all 235ms ease-in-out;
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          &:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
            transform: translate3d(0, 2px, 0);
          }

          &:focus {
            box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          }
        }
      }
    }
  }
}

.divider {
  background: #3a3a3a;
  height: 1px;
  width: 100%;
  margin: 0;
}

.footer {
  background-color: rgba(233, 227, 227, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;

  .contentWrapper {
    width: 55%;
    margin: 0;

    .footerContent {
      font-size: 1.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;

      .address,
      .contact {
        font-size: 1.2rem;
        font-style: normal;
        color: #04061f;
        margin-bottom: 50px;
        p {
          margin: 0;
        }
      }
    }

    .copyright {
      font-size: 1rem;
      font-style: normal;
      color: #04061f;
      p {
        margin: 0;
      }
    }
  }
}
