/* Styles for desktop */
.heroArea {
  height: 75dvh;
  width: 100dvw;
  position: relative;
  background-image: url('../public/images/suitcases.jpeg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    .h1 {
      font-size: 4rem;
      line-height: 2;
      margin-bottom: 40px;
    }

    .h1,
    .h2 {
      font-family: 'American Typewriter', monospace;
      font-weight: 400;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }
}
