.button {
  align-self: center;
  background-color: #41403ee9;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: antiquewhite 15px 28px 25px -18px;
  box-sizing: border-box;
  color: antiquewhite;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 0.75rem;
  line-height: 23px;
  margin-top: 1rem;
  margin-left: 150px;
  outline: none;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.error {
  background-color: red;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: #41403ee9;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 400px;
  border-style: solid;
  border-color: antiquewhite;
  border-width: 5px;
  border-radius: 5%;
  box-shadow: 0 0 20px rgba(244, 243, 243, 0.1);

  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    max-width: 400px;
    margin: 0 auto;

    .h1 {
      font-family: 'American Typewriter', monospace;
      font-size: 2rem;
      font-weight: 400;
      color: antiquewhite;
    }

    .label {
      font-size: larger;
      color: antiquewhite;
      margin: 10px;
    }

    .input {
      background-color: antiquewhite;
      margin: 10px;
      border-radius: 5px;
      border-style: solid;
      border-color: rgb(0, 0, 0);
    }
  }
}
