.heroArea {
  min-height: 600px;
  position: relative;
  background-image: url('../../../public/images/suitcases.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 75%;

  .contentWrapper {
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .h1 {
    font-size: 4rem;
    font-family: 'American Typewriter', monospace;
    font-weight: 400;
    color: rgb(45, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: row;
    margin-bottom: 25px;
  }
}
